<section class="w-full bg-gray-700 py-4 px-6">
  <nav class="flex md:px-20 px-8 justify-between items-center">

    <!-- Logo -->
    <div class="text-white text-3xl font-bold">RENU JAIN</div>

    <!-- Navigation Links (Visible on medium and larger screens) -->
    <div class="hidden md:flex gap-8 text-white text-xl ">

      <a class="default-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" routerLink="/"
        (click)="toggleNavbar()">Home</a>
      <a class="default-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/about">About</a>
      <a class="default-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/projects">Projects</a>
      <a class="default-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/contact">Contact</a>
      <a class="default-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/resume">Resume</a>
    </div>


    <!-- Hamburger Button (Only visible on mobile) -->
    <button class="text-white md:hidden p-2 bg-gray-900 rounded-full focus:outline-none focus:ring-2 focus:ring-white"
      (click)="toggleNavbar()">
      <ion-icon name="menu-outline" size="large"></ion-icon>
    </button>


    <!-- Mobile Navigation Links (Only visible when menu is toggled) -->
    <div
      class="md:hidden fixed top-20 left-0 w-full bg-gray-800 flex flex-col text-white text-xl gap-2 p-2 shadow-lg z-50"
      *ngIf="navbarVisible">
      <a class="default-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" routerLink="/"
        (click)="toggleNavbar()">Home</a>
      <a class="default-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/about" (click)="toggleNavbar()">About</a>
      <a class="default-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/projects" (click)="toggleNavbar()">Projects</a>
      <a class="default-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/contact" (click)="toggleNavbar()">Contact</a>
      <a class="default-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/resume" (click)="toggleNavbar()">Resume</a>

    </div>


  </nav>

</section>