<!-- Container for all cards -->
<section class="scroll-smooth h-[535px] md:min-h-[575px] overflow-y-auto px-4 py-5">

  <!-- Flex container for cards -->
  <div class="px-10 py-10 flex flex-col sm:flex-row sm:flex-wrap md:flex-row sm:justify-evenly gap-10 items-stretch ">

    <!-- card-1 -->
    <a href="https://resultmanagement-frontend.vercel.app/" target="_blank" rel="noopener noreferrer"
      class="text-inherit no-underline ">

      <div
        class="bg-gray-100 rounded-lg shadow-xl w-full max-w-[500px] flex flex-col sm:flex-row mx-auto gap-4 overflow-hidden cursor-pointer border hover:border-blue-500 hover:shadow-2xl hover:scale-[1.02] transition-transform duration-300">

        <!-- Image section -->
        <div class="h-48 sm:h-auto sm:w-2/5 w-full">
          <img src="/assets/result-management.png"
            class=" object-center rounded-t-lg sm:rounded-l-lg sm:rounded-t-none w-full h-full"
            alt="Screenshot of Result Management UI">
        </div>

        <!-- Text section -->
        <div class="px-4 py-2 flex flex-col justify-evenly text-sm sm:w-3/5 w-full">
          <h1 class="font-bold text-lg mb-0">Result Management</h1>
          <p class="text-gray-800 text-sm mb-0 line-clamp-4 sm:line-clamp-none">A web app where teachers can add, edit,
            and delete student results, while students can easily view their scores by entering their roll number or
            name.
          </p>
          <div>
            <h5 class="text-xs text-gray-600"><strong>Tech: </strong>Angular, Primeng, Bootstrap, Material UI</h5>
            <p class="text-xs text-gray-600"><strong>Link: </strong> <a
                href="https://resultmanagement-frontend.vercel.app/" target="_blank" rel="noopener noreferrer"
                class="text-blue-600 no-underline hover:underline">result-management</a></p>
          </div>
        </div>

      </div>
    </a>



    <!-- card-2 -->


    <a href="https://interactive-6zobc2f5n-renu-jains-projects.vercel.app/" target="_blank" rel="noopener noreferrer"
      class="text-inherit no-underline ">

      <div
        class="bg-gray-100 rounded-lg shadow-xl w-full max-w-[500px] flex flex-col sm:flex-row mx-auto gap-4 overflow-hidden cursor-pointer border hover:border-blue-500 hover:shadow-2xl hover:scale-[1.02] transition-transform duration-300">

        <!-- Image section -->
        <div class="h-48 sm:h-auto sm:w-2/5 w-full">
          <img src="/assets/map.png" class=" object-center rounded-t-lg sm:rounded-l-lg sm:rounded-t-none w-full h-full"
            alt="Screenshot of Map Application UI">
        </div>

        <!-- Text section -->
        <div class="px-4 py-2 flex flex-col justify-evenly text-sm sm:w-3/5 w-full">
          <h1 class="font-bold text-lg mb-2">Map Application</h1>
          <p class="text-gray-800 text-sm mb-2 line-clamp-4 sm:line-clamp-none"> Includes city and category filters,
            boundary visualization, real-time search, current location detection, and marker detail popups on an
            interactive map.
          </p>
          <div>
            <h5 class="text-xs text-gray-600"><strong>Tech : </strong> Angular, Tailwind CSS, Leaflet, Ionicons
            </h5>
            <p class="text-xs text-gray-600"><strong>Link: </strong> <a
                href="https://interactive-6zobc2f5n-renu-jains-projects.vercel.app/" target="_blank"
                rel="noopener noreferrer" class="text-blue-600 no-underline hover:underline">map-app</a></p>
          </div>
        </div>

      </div>
    </a>




    <!-- card-3 -->

    <a href="https://vocal-twilight-681ddc.netlify.app/" target="_blank" rel="noopener noreferrer"
      class="text-inherit no-underline ">

      <div
        class="bg-gray-100 rounded-lg shadow-xl w-full max-w-[500px] flex flex-col sm:flex-row mx-auto gap-4 overflow-hidden cursor-pointer border hover:border-blue-500 hover:shadow-2xl hover:scale-[1.02] transition-transform duration-300">

        <!-- Image section -->
        <div class="h-48 sm:h-auto sm:w-2/5 w-full">
          <img src="/assets/the-cooking-corner.png"
            class=" object-center rounded-t-lg sm:rounded-l-lg sm:rounded-t-none w-full h-full"
            alt="Screenshot of The Cooking Corner UI">
        </div>

        <!-- Text section -->
        <div class="px-4 py-2 flex flex-col justify-evenly text-sm sm:w-3/5 w-full">
          <h1 class="font-bold text-lg mb-2">The Coking Corner</h1>
          <p class="text-gray-800 text-sm mb-2 line-clamp-4 sm:line-clamp-none"> The Cooking Corner is a responsive food
            blog where users explore recipes, tagged blog posts with images and publish dates, and interactive user
            comments.
          </p>
          <div>
            <h5 class="text-xs text-gray-600"><strong>Tech : </strong> Angular, Tailwind CSS, Font Awesome, SVG Icons
            </h5>
            <p class="text-xs text-gray-600"><strong>Link: </strong> <a
                href="https://vocal-twilight-681ddc.netlify.app/" target="_blank" rel="noopener noreferrer"
                class="text-blue-600 no-underline hover:underline">the-cooking-corner</a></p>
          </div>
        </div>

      </div>
    </a>


    <!-- card-4 -->
    <a href="https://nimble-salamander-138f5d.netlify.app/" target="_blank" rel="noopener noreferrer"
      class="text-inherit no-underline ">

      <div
        class="bg-gray-100 rounded-lg shadow-xl w-full max-w-[500px] flex flex-col sm:flex-row mx-auto gap-4 overflow-hidden cursor-pointer border hover:border-blue-500 hover:shadow-2xl hover:scale-[1.02] transition-transform duration-300">

        <!-- Image section -->
        <div class="h-48 sm:h-auto sm:w-2/5 w-full">
          <img src="/assets/real-chat-app.png"
            class=" object-center rounded-t-lg sm:rounded-l-lg sm:rounded-t-none w-full h-full"
            alt="Screenshot of Real-Time Chat App UI">
        </div>

        <!-- Text section -->
        <div class="px-4 py-2 flex flex-col justify-evenly text-sm sm:w-3/5 w-full ">
          <h1 class="font-bold text-lg mb-2">Real Time Chat App</h1>
          <p class="text-gray-800 text-sm mb-2 line-clamp-4 sm:line-clamp-none">A lightweight and user-friendly chat
            application that supports real-time
            conversations, user authentication, and a clean UI for fast, secure, and seamless communication.</p>
          <div>
            <h5 class="text-xs text-gray-600"><strong>Tech : </strong>Angular, Tailwind CSS, Firebase </h5>
            <p class="text-xs text-gray-600"><strong>Link: </strong> <a
                href="https://nimble-salamander-138f5d.netlify.app/" target="_blank" rel="noopener noreferrer"
                class="text-blue-600 no-underline hover:underline">real-time-chat-app</a></p>
          </div>
        </div>

      </div>
    </a>



    <!-- card-5 -->
    <a href="https://jocular-sunshine-810f58.netlify.app/" target="_blank" rel="noopener noreferrer"
      class="text-inherit no-underline ">

      <div
        class="bg-gray-100 rounded-lg shadow-xl w-full max-w-[500px] flex flex-col sm:flex-row mx-auto gap-4 overflow-hidden cursor-pointer border hover:border-blue-500 hover:shadow-2xl hover:scale-[1.02] transition-transform duration-300">

        <!-- Image section -->
        <div class="h-48 sm:h-auto sm:w-2/5 w-full">
          <img src="/assets/quiz-app.png"
            class=" object-center rounded-t-lg sm:rounded-l-lg sm:rounded-t-none w-full h-full"
            alt="Screenshot of Quiz App UI">
        </div>

        <!-- Text section -->
        <div class="px-4 py-2 flex flex-col justify-evenly text-sm sm:w-3/5 w-full">
          <h1 class="font-bold text-lg mb-2">Quiz App</h1>
          <p class="text-gray-800 text-sm mb-2 line-clamp-4 sm:line-clamp-none">A user-friendly quiz app that offers
            multiple-choice questions with instant
            scoring and feedback. Designed for an engaging experience with a clean and responsive interface.</p>
          <div>
            <h5 class="text-xs text-gray-600"><strong>Tech : </strong>Angular, Primeng, Bootstrap </h5>
            <p class="text-xs text-gray-600"><strong>Link: </strong> <a
                href="https://jocular-sunshine-810f58.netlify.app/" target="_blank" rel="noopener noreferrer"
                class="text-blue-600 no-underline hover:underline">quiz-app</a></p>
          </div>
        </div>

      </div>
    </a>



    <!-- card-6 -->
    <a href="https://fastidious-gumdrop-39ebf4.netlify.app/" target="_blank" rel="noopener noreferrer"
      class="text-inherit no-underline ">

      <div
        class="bg-gray-100 rounded-lg shadow-xl w-full max-w-[500px] flex flex-col sm:flex-row mx-auto gap-4 overflow-hidden cursor-pointer border hover:border-blue-500 hover:shadow-2xl hover:scale-[1.02] transition-transform duration-300">

        <!-- Image section -->
        <div class="h-48 sm:h-auto sm:w-2/5 w-full">
          <img src="/assets/translator.png"
            class=" object-center rounded-t-lg sm:rounded-l-lg sm:rounded-t-none w-full h-full"
            alt="Screenshot of Translator UI">
        </div>

        <!-- Text section -->
        <div class="px-4 py-2 flex flex-col justify-evenly text-sm sm:w-3/5 w-full">
          <h1 class="font-bold text-lg mb-2">Translator</h1>
          <p class="text-gray-800 text-sm mb-2 line-clamp-4 sm:line-clamp-none">A simple and efficient translator app
            that
            allows users to convert text
            between multiple languages instantly. Built with a clean UI and supports real-time translation for better
            communication.</p>
          <div>
            <h5 class="text-xs text-gray-600"><strong>Tech : </strong>Angular, Tailwind Css, Font Awesome, Rapid API
            </h5>
            <p class="text-xs text-gray-600"><strong>Link: </strong> <a
                href="https://fastidious-gumdrop-39ebf4.netlify.app/" target="_blank" rel="noopener noreferrer"
                class="text-blue-600 no-underline hover:underline">translator</a></p>
          </div>
        </div>

      </div>
    </a>

    <div class="w-full flex flex-row justify-end pe-10">
      <button
        class="inline-block px-6 py-3 rounded-lg bg-blue-600 hover:bg-blue-700 hover:rounded-full text-white transition duration-200"
        (click)="toggleCard()">Toggle Card
        <ion-icon name="arrow-down-outline"></ion-icon>
      </button>
    </div>

</div>

<div *ngIf="isCardVisible" class="projects-container px-10 py-10 flex flex-col sm:flex-row sm:flex-wrap md:flex-row sm:justify-evenly gap-10 items-stretch">


      <!-- card-7 -->

      <a href="https://lustrous-shortbread-096f82.netlify.app/" target="_blank" rel="noopener noreferrer"
        class="text-inherit no-underline ">
        <div
          class="bg-gray-100 rounded-lg shadow-xl w-full max-w-[500px] flex flex-col sm:flex-row mx-auto gap-4 overflow-hidden cursor-pointer border hover:border-blue-500 hover:shadow-2xl hover:scale-[1.02] transition-transform duration-300">

          <!-- Image section -->
          <div class="h-48 sm:h-auto sm:w-2/5 w-full">
            <img src="/assets/to-do-list.png"
              class=" object-center rounded-t-lg sm:rounded-l-lg sm:rounded-t-none w-full h-full"
              alt="Screenshot of To Do List UI">
          </div>

          <!-- Text section -->
          <div class="px-4 py-2 flex flex-col justify-evenly text-sm sm:w-3/5 w-full">
            <h1 class="font-bold text-lg mb-2">To Do List</h1>
            <p class="text-gray-800 text-sm mb-2 line-clamp-4 sm:line-clamp-none">This To-Do List app lets users add,
              delete, and mark tasks as complete. It helps in organizing daily tasks easily.</p>
            <div>

              <h5 class="text-xs text-gray-600"><strong>Tech : </strong>Angular, Css, JavaScript, Bootstrap </h5>
              <p class="text-xs text-gray-600"><strong>Link: </strong> <a
                  href="https://lustrous-shortbread-096f82.netlify.app/" target="_blank" rel="noopener noreferrer"
                  class="text-blue-600 no-underline hover:underline">to-do-list</a></p>
            </div>
          </div>

        </div>
      </a>




      <!-- card-8 -->
      <a href="https://inquisitive-tiramisu-0625ae.netlify.app/" target="_blank" rel="noopener noreferrer"
        class="text-inherit no-underline ">
        <div
          class="bg-gray-100 rounded-lg shadow-xl w-full max-w-[500px] flex flex-col sm:flex-row mx-auto gap-4 overflow-hidden cursor-pointer border hover:border-blue-500 hover:shadow-2xl hover:scale-[1.02] transition-transform duration-300">

          <!-- Image section -->
          <div class="h-48 sm:h-auto sm:w-2/5 w-full">
            <img src="/assets/calculator.png"
              class=" object-center rounded-t-lg sm:rounded-l-lg sm:rounded-t-none w-full h-full"
              alt="Screenshot of Calculator UI">
          </div>

          <!-- Text section -->
          <div class="px-4 py-2 flex flex-col justify-evenly text-sm sm:w-3/5 w-full">
            <h1 class="font-bold text-lg mb-2">Calculator</h1>
            <p class="text-gray-800 text-sm mb-2 line-clamp-4 sm:line-clamp-none">A clean, minimal, and interactive
              calculator designed to perform everyday mathematical operations, built from scratch using vanilla
              JavaScript.</p>
            <div>

              <h5 class="text-xs text-gray-600"><strong>Tech : </strong>Html, Css, JavaScript</h5>
              <p class="text-xs text-gray-600"><strong>Link: </strong> <a
                  href="https://inquisitive-tiramisu-0625ae.netlify.app/" target="_blank" rel="noopener noreferrer"
                  class="text-blue-600 no-underline hover:underline">calculator</a></p>
            </div>
          </div>

        </div>
      </a>



      <!-- card-9 -->
      <a href="https://frolicking-sopapillas-259317.netlify.app/" target="_blank" rel="noopener noreferrer"
        class="text-inherit no-underline ">
        <div
          class="bg-gray-100 rounded-lg shadow-xl w-full max-w-[500px] flex flex-col sm:flex-row mx-auto gap-4 overflow-hidden cursor-pointer border hover:border-blue-500 hover:shadow-2xl hover:scale-[1.02] transition-transform duration-300">

          <!-- Image section -->
          <div class="h-48 sm:h-auto sm:w-2/5 w-full">
            <img src="/assets/life-timer.png"
              class=" object-center rounded-t-lg sm:rounded-l-lg sm:rounded-t-none w-full h-full"
              alt="Screenshot of Life Timer UI">
          </div>

          <!-- Text section -->
          <div class="px-4 py-2 flex flex-col justify-evenly text-sm sm:w-3/5 w-full">
            <h1 class="font-bold text-lg mb-2">Life Timer</h1>
            <p class="text-gray-800 text-sm mb-2 line-clamp-4 sm:line-clamp-none">Using JavaScript, the Life Timer
              updates
              dynamically, showcasing how much of your life has been spent. It’s a fun and reflective web tool.</p>
            <div>

              <h5 class="text-xs text-gray-600"><strong>Tech : </strong>Html, Css, JavaScript </h5>
              <p class="text-xs text-gray-600"><strong>Link: </strong> <a
                  href="https://frolicking-sopapillas-259317.netlify.app/" target="_blank" rel="noopener noreferrer"
                  class="text-blue-600 no-underline hover:underline">life-timer</a></p>
            </div>
          </div>

        </div>
      </a>



      <!-- card-10 -->
      <a href="https://taupe-beijinho-b0e445.netlify.app/" target="_blank" rel="noopener noreferrer"
        class="text-inherit no-underline ">
        <div
          class="bg-gray-100 rounded-lg shadow-xl w-full max-w-[500px] flex flex-col sm:flex-row mx-auto gap-4 overflow-hidden cursor-pointer border hover:border-blue-500 hover:shadow-2xl hover:scale-[1.02] transition-transform duration-300">

          <!-- Image section -->
          <div class="h-48 sm:h-auto sm:w-2/5 w-full">
            <img src="/assets/rock-paper-scissors.png"
              class=" object-center rounded-t-lg sm:rounded-l-lg sm:rounded-t-none w-full h-full"
              alt="Screenshot of Rock Paper Scissors UI">
          </div>

          <!-- Text section -->
          <div class="px-4 py-2 flex flex-col justify-evenly text-sm sm:w-3/5 w-full">
            <h1 class="font-bold text-lg mb-2">Rock Paper Scissors</h1>
            <p class="text-gray-800 text-sm mb-2 line-clamp-4 sm:line-clamp-none">Players choose an option, and the
              computer makes a random choice. The game then compares both and shows who won.</p>
            <div>

              <h5 class="text-xs text-gray-600"><strong>Tech : </strong>Html, Css, JavaScript </h5>
              <p class="text-xs text-gray-600"><strong>Link: </strong> <a
                  href="https://taupe-beijinho-b0e445.netlify.app/" target="_blank" rel="noopener noreferrer"
                  class="text-blue-600 no-underline hover:underline">rock-paper-scissors</a></p>
            </div>
          </div>

        </div>
      </a>



      <!-- card-11 -->
      <a href="https://musical-brigadeiros-d9fdb6.netlify.app/" target="_blank" rel="noopener noreferrer"
        class="text-inherit no-underline ">
        <div
          class="bg-gray-100 rounded-lg shadow-xl w-full max-w-[500px] flex flex-col sm:flex-row mx-auto gap-4 overflow-hidden cursor-pointer border hover:border-blue-500 hover:shadow-2xl hover:scale-[1.02] transition-transform duration-300">

          <!-- Image section -->
          <div class="h-48 sm:h-auto sm:w-2/5 w-full">
            <img src="/assets/countdown-timer.png"
              class=" object-center rounded-t-lg sm:rounded-l-lg sm:rounded-t-none w-full h-full"
              alt="Screenshot of Countdown Timer UI">
          </div>

          <!-- Text section -->
          <div class="px-4 py-2 flex flex-col justify-evenly text-sm sm:w-3/5 w-full">
            <h1 class="font-bold text-lg mb-2">Countdown Timer</h1>
            <p class="text-gray-800 text-sm mb-2 line-clamp-4 sm:line-clamp-none">Users can enter a target date and see
              how much time is left. The design is clean and user-friendly.</p>
            <div>

              <h5 class="text-xs text-gray-600"><strong>Tech : </strong>Html, Css, JavaScript</h5>
              <p class="text-xs text-gray-600"><strong>Link: </strong> <a
                  href="https://musical-brigadeiros-d9fdb6.netlify.app/" target="_blank" rel="noopener noreferrer"
                  class="text-blue-600 no-underline hover:underline">countdown-timer</a></p>
            </div>
          </div>

        </div>
      </a>



      <!-- card-12 -->

      <a href="https://steady-kulfi-5dfdbf.netlify.app/" target="_blank" rel="noopener noreferrer"
        class="text-inherit no-underline ">
        <div
          class="bg-gray-100 rounded-lg shadow-xl w-full max-w-[500px] flex flex-col sm:flex-row mx-auto gap-4 overflow-hidden cursor-pointer border hover:border-blue-500 hover:shadow-2xl hover:scale-[1.02] transition-transform duration-300">

          <!-- Image section -->
          <div class="h-48 sm:h-auto sm:w-2/5 w-full">
            <img src="/assets/countries.png"
              class=" object-center rounded-t-lg sm:rounded-l-lg sm:rounded-t-none w-full h-full"
              alt="Screenshot of Countries UI">
          </div>

          <!-- Text section -->
          <div class="px-4 py-2 flex flex-col justify-evenly text-sm sm:w-3/5 w-full">
            <h1 class="font-bold text-lg mb-2">Countries</h1>
            <p class="text-gray-800 text-sm mb-2 line-clamp-4 sm:line-clamp-none">This project displays real-time
              details
              of 193 countries.Each country is clickable, revealing useful information interactively. A great way to
              learn
              about the world.</p>
            <div>

              <h5 class="text-xs text-gray-600"><strong>Tech : </strong>Html, Css, JavaScript </h5>
              <p class="text-xs text-gray-600"><strong>Link: </strong> <a
                  href="https://steady-kulfi-5dfdbf.netlify.app/" target="_blank" rel="noopener noreferrer"
                  class="text-blue-600 no-underline hover:underline">countries</a></p>
            </div>
          </div>

        </div>
      </a>



      <!-- card-13 -->
      <a href="https://tubular-pie-d8cd71.netlify.app/" target="_blank" rel="noopener noreferrer"
        class="text-inherit no-underline ">
        <div
          class="bg-gray-100 rounded-lg shadow-xl w-full max-w-[500px] flex flex-col sm:flex-row mx-auto gap-4 overflow-hidden cursor-pointer border hover:border-blue-500 hover:shadow-2xl hover:scale-[1.02] transition-transform duration-300">

          <!-- Image section -->
          <div class="h-48 sm:h-auto sm:w-2/5 w-full">
            <img src="/assets/password-generator.png"
              class=" object-center rounded-t-lg sm:rounded-l-lg sm:rounded-t-none w-full h-full"
              alt="Screenshot of Password Generator UI">
          </div>

          <!-- Text section -->
          <div class="px-4 py-2 flex flex-col justify-evenly text-sm sm:w-3/5 w-full">
            <h1 class="font-bold text-lg mb-2">Password Generator</h1>
            <p class="text-gray-800 text-sm mb-2 line-clamp-4 sm:line-clamp-none">Users can choose password length and
              character types.This tool generates strong, random passwords instantly. The password updates at the click
              of
              a button.</p>
            <div>

              <h5 class="text-xs text-gray-600"><strong>Tech : </strong>Html, Css, JavaScript</h5>
              <p class="text-xs text-gray-600"><strong>Link: </strong> <a href="https://tubular-pie-d8cd71.netlify.app/"
                  target="_blank" rel="noopener noreferrer"
                  class="text-blue-600 no-underline hover:underline">password-generator</a></p>
            </div>
          </div>

        </div>
      </a>



      <!-- card-14 -->

      <a href="https://warm-douhua-fc32ea.netlify.app/" target="_blank" rel="noopener noreferrer"
        class="text-inherit no-underline ">

        <div
          class="bg-gray-100 rounded-lg shadow-xl w-full max-w-[500px] flex flex-col sm:flex-row mx-auto gap-4 overflow-hidden cursor-pointer border hover:border-blue-500 hover:shadow-2xl hover:scale-[1.02] transition-transform duration-300">

          <!-- Image section -->
          <div class="h-48 sm:h-auto sm:w-2/5 w-full">
            <img src="/assets/generate-random-string.png"
              class=" object-center rounded-t-lg sm:rounded-l-lg sm:rounded-t-none w-full h-full"
              alt="Screenshot of Generate Random string UI">
          </div>

          <!-- Text section -->
          <div class="px-4 py-2 flex flex-col justify-evenly text-sm sm:w-3/5 w-full">
            <h1 class="font-bold text-lg mb-2">Generate Random String</h1>
            <p class="text-gray-800 text-sm mb-2 line-clamp-4 sm:line-clamp-none">A lightweight and easy-to-use tool
              that
              generates secure and customizable
              random strings. Ideal for creating passwords, tokens, or unique identifiers in real-time.</p>
            <div>

              <h5 class="text-xs text-gray-600"><strong>Tech : </strong>Angular, Bootstrap </h5>
              <p class="text-xs text-gray-600"><strong>Link: </strong> <a href="https://warm-douhua-fc32ea.netlify.app/"
                  target="_blank" rel="noopener noreferrer"
                  class="text-blue-600 no-underline hover:underline">generate-random-string</a></p>
            </div>
          </div>

        </div>
      </a>




      <!-- card-15 -->

      <a href="https://radiant-dolphin-31d43b.netlify.app/" target="_blank" rel="noopener noreferrer"
        class="text-inherit no-underline ">
        <div
          class="bg-gray-100 rounded-lg shadow-xl w-full max-w-[500px] flex flex-col sm:flex-row mx-auto gap-4 overflow-hidden cursor-pointer border hover:border-blue-500 hover:shadow-2xl hover:scale-[1.02] transition-transform duration-300">

          <!-- Image section -->
          <div class="h-48 sm:h-auto sm:w-2/5 w-full">
            <img src="/assets/random-color-generator.png"
              class=" object-center rounded-t-lg sm:rounded-l-lg sm:rounded-t-none w-full h-full"
              alt="Screenshot of Random Color Generator UI">
          </div>

          <!-- Text section -->
          <div class="px-4 py-2 flex flex-col justify-evenly text-sm sm:w-3/5 w-full">
            <h1 class="font-bold text-lg mb-2">Random Color Generator</h1>
            <p class="text-gray-800 text-sm mb-2 line-clamp-4 sm:line-clamp-none">This project generates a random color
              with every click. It also displays the hex code of the color. Built using JavaScript, it updates the
              background color dynamically.</p>
            <div>

              <h5 class="text-xs text-gray-600"><strong>Tech : </strong>Html, Css, JavaScript</h5>
              <p class="text-xs text-gray-600"><strong>Link: </strong> <a
                  href="https://radiant-dolphin-31d43b.netlify.app/" target="_blank" rel="noopener noreferrer"
                  class="text-blue-600 no-underline hover:underline">random-color-generator</a></p>
            </div>
          </div>

        </div>
      </a>


    </div>

</section>
