/* You can add global styles to this file, and also import other style files */
/* @import "tailwindcss"; */

@import "tailwindcss/theme";
@import "tailwindcss/utilities";
@use "themes/tailwind";


body {
    font-family: Arial, sans-serif;
    --my-height:100vh;
  }

  @layer utilities {
    .fade-up {
      @apply opacity-0 translate-y-10 transition duration-700 ease-out;
    }
  
    .fade-up-active {
      @apply opacity-100 translate-y-0;
    }
  }

   /* html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  } */
  /*
  main {
    flex: 1; /* Ensures main content takes up available space */
  